<div class="carousel" id="demo-carousel">
    <a class="carousel-item" href="film/{{i+1}}" *ngFor="let film of films;let i = index  let last = last">
        {{film.title}}
        <img src="https://picsum.photos/200/300?image={{i+1}}" />
        <ng-container *ngIf="last">
            HELLO
            <ng-container *ngIf="condition">
                {{getCarousel()}}
            </ng-container>
        </ng-container>
    </a>
</div>

<div class="row"> <br>
    <film-search></film-search>

    <div *ngFor='let film of films'   class="col s6 m4">
        <div class="card horizontal" (click)="selectFilm(film)" filmPreSelect="red">
            <a class="btn-floating btn-small waves-effect waves-light black"><i class="material-icons">forward</i></a>
            <div class="card-image">
                
                <!-- <img [src]="film.image"> -->
                <img src="https://picsum.photos/200/300?image={{film.id}}" />
            </div>

            <div class="card-stacked">
                <div class="card-content">
                    <span>{{film.title}}</span>
                    <p><small>{{film.year}}</small></p>

                </div>
            </div>
        </div>
    </div>