<div class="carousel" id="demo-carousel">
    <a class="carousel-item" href="film/{{i+1}}" *ngFor="let film of films;let i = index  let last = last">
        {{film.title}}
        <img src="../../assets/imagesFilms/{{film.image}}" />
        <ng-container *ngIf="last">
            <ng-container *ngIf="condition">
                {{getCarousel()}}
            </ng-container>
        </ng-container>
    </a>
</div>

<div class="row"> <br>
    <film-search></film-search>

    <div *ngFor='let film of films'   class="col s6 m4">
        <div class="card horizontal card-panel hoverable " (click)="selectFilm(film)" >
            <div class="card-image responsive-img">
                <img src="../../assets/imagesFilms/{{film.image}}" />
            </div>
            
            <div class="card large ">
            </div>
            <div class="card-stacked ">
                <div class="card-content ">
                    <span>{{film.title}}</span>
                    <p><small>{{film.year}}</small></p>
                    <br> <br>
                    <a class="btn-floating pulse btn-medium waves-effect waves-light black center"><i class="material-icons">forward</i></a>
               
                </div>
            </div>
        </div>
    </div>