 <nav>
  <div class="nav-wrapper teal black">
      <a href='#' class="brand-logo center">Marvel Cinematic Universe </a>
  </div>
</nav>  

<div class="img"> <img src="./assets/marvel-studios.jpg" alt=""></div>

<nav>
  <div class="nav-wrapper black">
      <a href="#!" class="brand-logo"><i class="material-icons"></i>Guide Marvel Studios</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="./films">Accueil </a></li>
          <li><a href="./films">Films </a></li>
          <li><a href="./personnages">Personnages </a></li>
          
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Guide Marvel Studios</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Plus de lien </h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.disneyplus.com/">Disney Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    ©  Disney et ses sociétés affiliées. Tous droits réservés.
    </div>
  </div>
</footer>

 
