<div *ngIf="personnage" class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">{{ personnage.name }}</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img src="../../assets/imagesPersonnages/{{personnage.image}}" />
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                          <tr>
                            <td>Nom : </td>
                            <td><strong>{{ personnage.alias }}</strong></td>
                            <td>Photo : </td>
                            <td><strong>{{ personnage.image }}</strong></td>
                            
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a (click)="goBack()" class="waves-effect waves-light btn black">Retour</a>
                    <a (click)="delete(personnage)"class="waves-effect waves-light btn black">Modifier</a>
                    <a (click)="delete(personnage)"class="waves-effect waves-light btn black">Supprimer</a>
                </div>                
            </div>
        </div>
    </div>
</div>  
